<section id="aboutus-section" class="section section-aboutus">
    
    <div class="aboutus-container">
        <div class="aboutus-text-container">
            <p class="aboutus-text"> 
                <label class="title-aboutus" data-aos="fade-down">About Us</label>
                <p class="aboutus-ref" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    We are a Miami-based private money lender providing investment property loans in many states. 
                    We specialize in asset-backed loans with an easy, quick loan application
                    company text.
                    M & M Private Lending Group, LLC Specializes in arranging private money real estate loans. 
                    We are a direct lender & we pride ourselves on rapid personalized service while delivering the 
                    fairest rates and closing costs available. We are true asset based (hard money) lenders not requiring tax returns, 
                    credit checks or bank statements. NEW We offer both residential investment property and commercial investment mortgages. 
                    Your Business is paramount to us.
                    Hard Money Lenders IO is a Florida-based Private Lending Company giving loans to real estate investors 
                    and entrepreneurs. We give quick and easy loans to help you overcome your financial barriers. 
                    We offer tailor-made loans to suit your specific needs.
                </p>
            </p>
            <div class="aboutus-logo-container" data-aos="flip-left">
                <img src="/images/logo-navbar-landscape-alt.png" class="aboutus-logo-int" alt="" data-aos="fade-down">
            </div>
        </div>
        <img src="/images/logo-navbar-big.png"  class="aboutus-logo" alt="">
    </div>


    <script>
        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

    </script>
</section>