<section class="section-aboutus">
    <label class="section-title">About Us</label>
    <div class="aboutus-container">
        <div class="aboutus-text-container">
            <p class="aboutus-text"> 
                We are a Miami-based private money lender providing investment property loans in many states. 
                We specialize in asset-backed loans with an easy, quick loan application
                company text.
                M & M Private Lending Group, LLC Specializes in arranging private money real estate loans. 
                We are a direct lender & we pride ourselves on rapid personalized service while delivering the 
                fairest rates and closing costs available. We are true asset based (hard money) lenders not requiring tax returns, 
                credit checks or bank statements. NEW We offer both residential investment property and commercial investment mortgages. 
                Your Business is paramount to us.
                Hard Money Lenders IO is a Florida-based Private Lending Company giving loans to real estate investors 
                and entrepreneurs. We give quick and easy loans to help you overcome your financial barriers. 
                We offer tailor-made loans to suit your specific needs.
            </p>
            <img src="/images/logo-navbar-landscape-alt.png" class="aboutus-logo-int" alt="">
        </div>
        <img src="/images/logo-navbar-big.png"  class="aboutus-logo" alt="">
    </div>
</section>