<section class="section-contact">
  
  <div class="contain-contact">
    <p class="contact-title">
      Contact Us
    </p>
    <p class="contact-subtitle">
      Leave us a message
    </p>
    
    <input type="text" class="input input-name" placeholder="name">
    <input type="email" class="input input-email" placeholder="email">
    <textarea type="text" class="input input-message"  placeholder="message..." maxlength="240"></textarea>

    <button class="contact-button">Send</button>
  </div>

  
</section>