<section id="contact-section" class="section section-contact">
  
  <div class="section-title" data-aos="fade-down">
    <label class="section-title-label" style="color:black;">
      Contact Us
    </label>
  </div>
  <div class="contain-contact" data-aos="zoom-in-up">
    
    <form class="form-message"action="/message" method="post">
      <input type="text" name="name" class="input input-name" placeholder="name">
      <input type="email" name="email" class="input input-email" placeholder="email">
      <textarea type="text" name="message" class="input input-message"  placeholder="message..." maxlength="240"></textarea>
      <button type="submit" class="contact-button">Send</button>
    </form>

    <div class="errores">
      <% if(typeof errors != 'undefined'){ %>
          <p class="errorTitle">ERROR</p>
          <ul>
              <% for(let i=0; i<errors.length; i++){ %>
                  <li style="font-size: 13px"><%= errors[i].msg %> </li> 
              <% } %> 
          </ul> 
      <% } %>
    </div>

  </div>

  
</section>