<section class="criteria">
  <p data-aos="zoom-in" class="criteria-title">Key Lending Criteria</p>
  <div class="criteria-container">
    <div class="criteria-column" data-aos="fade-right">
      <div class="criteria-row">
        <p class="criteria-label">LOAN PROGRAM</p>
        <p class="criteria-text">Bridge, fix & flip, refi / cash out</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">COLLATERAL</p>
        <p class="criteria-text">Investment properties *</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">LEVERAGE</p>
        <p class="criteria-text">As high as 75% LTV</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">INTEREST RATE</p>
        <p class="criteria-text">Fixed, starting at 6.99%</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">ASSET CLASSES</p>
        <p class="criteria-text">SFR, condo, multifamily, hote, retail, office, land, other</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">LOAN SIZE </p>
        <p class="criteria-text">Starting at $100,000</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">SECURITY</p>
        <p class="criteria-text">First lien deed of trust or mortgage</p>
      </div>
    </div>
    <div class="criteria-column" data-aos="fade-left">
      <div class="criteria-row">
        <p class="criteria-label">AMORTIZATION </p>
        <p class="criteria-text">Interest-only</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">LOAN TERMS</p>
        <p class="criteria-text">Up to 36 months</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">GEOGRAPHIES</p>
        <p class="criteria-text">Florida, Texas, Georgia, New York</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">ESCROWS</p>
        <p class="criteria-text">None</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">EXIT FEE</p>
        <p class="criteria-text">None</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">LOAN APPROVAL </p>
        <p class="criteria-text">Same day</p>
      </div>
      <div class="criteria-row">
        <p class="criteria-label">LOAN FUNDING</p>
        <p class="criteria-text">As quick as 3 business days</p>
      </div>
    </div>
  </div>
  <p class="criteria-footer">*Must be non-owner-occupied</p>
</section>