<footer class="section-footer">
    <div class="footer-container">
        <div class="footer-icons">
            <img id="logo-pl-footer" src="/images/logo-navbar-landscape-alt.png" width="200px" alt="">
        </div>
        <div class="footer-items">
            <div class="footer-item footer-company">
                <p class="footer-title">Company</p>
                <p>About Us</p>
                <p>Contact Us</p>
                <p>FAQ</p>
                <p>Testimonials</p>
                <p>Brokers & Realtors</p>
            </div>
            <div class="footer-item footer-follow">
                <p class="footer-title">Follow</p>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Linkedin</p>
            </div>
            <div class="footer-item footer-products">
                <p class="footer-title">Apply now</p>
                <p>Get Pre-Appoved</p>
                <p>Recent Deals</p>
                <p>Loan Programs</p>
            </div>
        </div>  
    </div>
    <label for="">Design by <a href="">IT-TECHGROUP</a></label>
</footer>