<section class="section-principal">

    
    <div class="splide" data-splide='{"type"   : "fade", "interval": "30000" , "drag": false , "loop": true, "rewind":true, "autoplay": true, "arrows": false, "pagination": false}'>
      <div class="splide__track" >
        <ul class="splide__list">
          <li class="splide__slide">
            <img class="img-carousel-house" src=/images/sections/principal/background-1.jpg alt="First slide">
          </li>
          <li class="splide__slide">
            <img class="img-carousel-house" src=/images/sections/principal/background-2.jpg alt="Second slide">
          </li>
          <li class="splide__slide">
            <img class="img-carousel-house" src=/images/sections/principal/background-3.jpeg alt="Third slide">
          </li>
        </ul>
      </div>
    </div>
  



    <p class="section-principal-title animate__animated animate__fadeInUp animate__delay-1s"><%- principalDat.title %></p>
    <div class="container-buttons">
      <a href="/prequalify"><button class="principal-button principal-button-big"><%- principalDat.button1 %></button></a>
      <a href="/apply-now"><button class="principal-button principal-button-big"><%- principalDat.button2 %></button></a> 
    </div>


</section>