<section class="section-principal">

    
    <div class="splide" data-splide='{"type"   : "fade", "rewind":true, "autoplay": true, "arrows": false, "pagination": false}'>
      <div class="splide__track" >
        <ul class="splide__list">
          <li class="splide__slide">
            <img class="img-carousel-house" src=/images/principal-backgrounds/background-1.jpg alt="First slide">
          </li>
          <li class="splide__slide">
            <img class="img-carousel-house" src=/images/principal-backgrounds/background-2.jpg alt="Second slide">
          </li>
          <li class="splide__slide">
            <img class="img-carousel-house" src=/images/principal-backgrounds/background-3.jpeg alt="Third slide">
          </li>
        </ul>
      </div>
    </div>
  



    <p class="title animate__animated animate__fadeInUp animate__delay-1s">We Provide Asset-Based Loans for Commercial & Residential Properties</p>
    <div class="container-buttons">
      <button class="principal-button">Get Pre-Qualify</button>
      <button class="principal-button" href="/apply-now">Apply Now</button>
    </div>


  

</section>