<section id="programs-section">

    <div class="loan-programs-contain">

        <div class="section-title"data-aos="fade-down">
            <label class="section-title-label" style="color:white;"><%-loanprogramDat.title%></label>
        </div>

       
        <a href="/programs" style="width: fit-content; margin-top: 20px;"><button class="principal-button"><%-loanprogramDat.button%></button></a>
    </div>



</section>