<section id="recent-deals-section"class="section section-recent-deals">

    <div class="section-title"data-aos="fade-down">
        <label class="recent-deal-title" >Recent Deals</label>
    </div>

    <div class="splide" 
        data-splide='{
                        "type"   : "loop", 
                        "perPage": 3,
                        "perMove": 1,
                        "focus"  : "center",
                        "pagination": false, 
                        "arrows": false, 
                        "autoplay": true,
                        
                        "breakpoints": {
                            "768":{
                                "perPage": 2
                            },
                            "576":{
                                "perPage": 1
                            }
                        }
                }'>
        
        
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/recent-deals/1.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$1,200,000</p>
                            <p class="recent-deal-date-type"></p>Assisted Living Facility</p>
                        <p class="recent-deal-date-nat"></p>Miami, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/recent-deals/2.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$1,000,000</p>
                            <p class="recent-deal-date-type"></p>Condo</p>
                        <p class="recent-deal-date-nat"></p>Sunny Isles, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/recent-deals/3.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$2,200,000</p>
                            <p class="recent-deal-date-type"></p>Single Family</p>
                        <p class="recent-deal-date-nat"></p>Parkland, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/recent-deals/4.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$1,400,000</p>
                            <p class="recent-deal-date-type"></p>Single Family</p>
                        <p class="recent-deal-date-nat"></p>Weston, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">  
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/recent-deals/5.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$350,000</p>
                            <p class="recent-deal-date-type"></p>Condo</p>
                            <p class="recent-deal-date-nat"></p>Brickell, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">  
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/recent-deals/6.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$800,000</p>
                            <p class="recent-deal-date-type"></p>Office</p>
                            <p class="recent-deal-date-nat"></p>Miami, FL.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>  
    </div>



  </section>