<section id="recent-deals-section"class="section section-recent-deals">

    <div class="section-title"data-aos="fade-down">
        <label class="section-title-label" style="color:white;"><%-recentdealsDat.title%></label>
    </div>


    <div class="container-deals">
        <div class="item-deal" style="background-image: url(/images/sections/recent-deals/1.jpg);">
            <div class="absolute-deal">
                <!-- <img src="/images/sections/recent-deals/1.jpg" alt=""> -->
            </div>
            <div class="hover-deal">
                <p class="amount-deal">$1,200,000</p>
                <p class="description-deal">Assisted Living Facility</p>
                <p class="location-deal">Miami, FL.</p>
            </div>
        </div>
        <div class="item-deal" style="background-image: url(/images/sections/recent-deals/2.jpg);">
            <div class="absolute-deal">
                <!-- <img src="/images/sections/recent-deals/2.jpg" alt=""> -->
            </div>
            <div class="hover-deal">
                <p class="amount-deal">$1,000,000</p>
                <p class="description-deal">Condo</p>
                <p class="location-deal">Sunny Isles, FL.</p>
            </div>
        </div>
        <div class="item-deal" style="background-image: url(/images/sections/recent-deals/3.jpg);">
            <div class="absolute-deal">
                <!-- <img src="/images/sections/recent-deals/3.jpg" alt=""> -->
            </div>
            <div class="hover-deal">
                <p class="amount-deal">$2,200,000</p>
                <p class="description-deal">Single Family</p>
                <p class="location-deal">Parkland, FL.</p>
            </div>
        </div>
        <div class="item-deal" style="background-image: url(/images/sections/recent-deals/4.jpg);">
            <div class="absolute-deal">
               <!--  <img src="/images/sections/recent-deals/4.jpg" alt=""> -->
            </div>
            <div class="hover-deal">
                <p class="amount-deal">$1,400,000</p>
                <p class="description-deal">Single Family</p>
                <p class="location-deal">Weston, FL.</p>
            </div>
        </div>
        <div class="item-deal" style="background-image: url(/images/sections/recent-deals/5.jpg);">
            <div class="absolute-deal">
                <!-- <img src="/images/sections/recent-deals/5.jpg" alt=""> -->
            </div>
            <div class="hover-deal">
                <p class="amount-deal">$350,000</p>
                <p class="description-deal">Condo</p>
                <p class="location-deal">Brickell, FL.</p>
            </div>
        </div>
        <div class="item-deal" style="background-image: url(/images/sections/recent-deals/6.jpg);">
            <div class="absolute-deal">
                <!-- <img src="/images/sections/recent-deals/6.jpg" alt=""> -->
            </div>
            <div class="hover-deal">
                <p class="amount-deal">$800,000</p>
                <p class="description-deal">Office</p>
                <p class="location-deal">Miami, FL.</p>
            </div>
        </div>
    </div>

    <!-- <div class="splide" 
        data-splide='{
                        "type"   : "loop", 
                        "perPage": 3,
                        "perMove": 1,
                        "focus"  : "center",
                        "pagination": false, 
                        "arrows": false, 
                        "autoplay": true,
                        "breakpoints": {
                            "768":{
                                "perPage": 2
                            },
                            "576":{
                                "perPage": 1
                            }
                        }
                }'>
        
        
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/sections/recent-deals/1.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$1,200,000</p>
                            <p class="recent-deal-date-type"></p>Assisted Living Facility</p>
                        <p class="recent-deal-date-nat"></p>Miami, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/sections/recent-deals/2.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$1,000,000</p>
                            <p class="recent-deal-date-type"></p>Condo</p>
                        <p class="recent-deal-date-nat"></p>Sunny Isles, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/sections/recent-deals/3.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$2,200,000</p>
                            <p class="recent-deal-date-type"></p>Single Family</p>
                        <p class="recent-deal-date-nat"></p>Parkland, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/sections/recent-deals/4.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$1,400,000</p>
                            <p class="recent-deal-date-type"></p>Single Family</p>
                        <p class="recent-deal-date-nat"></p>Weston, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">  
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/sections/recent-deals/5.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$350,000</p>
                            <p class="recent-deal-date-type"></p>Condo</p>
                            <p class="recent-deal-date-nat"></p>Brickell, FL.</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">  
                    <div class="recent-deal-container">
                        <img class="recent-deal-img" src="/images/sections/recent-deals/6.jpg">
                        <div class="recent-deal-date">
                            <p class="recent-deal-date-price">$800,000</p>
                            <p class="recent-deal-date-type"></p>Office</p>
                            <p class="recent-deal-date-nat"></p>Miami, FL.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>  
    </div>
 -->


  </section>