<section class="cia-video-section" style="margin: 50px 0;">
    <% if (langFlag == 'eng') { %>

        <iframe class="video-youtube" src="https://www.youtube.com/embed/w3QgUYVhsJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <% } else { %>

        <iframe class="video-youtube" src="https://www.youtube.com/embed/ZLQOgPsPtl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <% } %>

</section>