<section class="section section-whyus">
    <div class="section-title">
      <p class="section-whyus-title" data-aos="fade-down">Why Us?</p>
    </div>  
    <div class="whyus-items-container">    
     
      <div class="whyus-items-firstline" data-aos="fade-down">
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-history"></i>
          </div>
          <label class="whyus-item-title">Fast Approval</label>
          <label class="whyus-item-description" >Pre-qualify in 5 minutes or get approved in less than 24 hours</label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-user-check"></i>
          </div>
          <label class="whyus-item-title">Lenient Qualifying Requirements</label>
          <label class="whyus-item-description">Borrowers with no credit history,  foreign nationals and new businesses welcome</label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="far fa-calendar-check"></i>
          </div>
          <label class="whyus-item-title">Reliable Closings</label>
          <label class="whyus-item-description">Quick, definitive, and hassle-free closings within 7-12 days of approval</label>
        </div>
      </div>
      <div class="whyus-items-secondline" data-aos="fade-up">
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-chart-line"></i>
          </div>
          <label class="whyus-item-title">Competitive Rates, Low Payments</label>
          <label class="whyus-item-description">Interest-only loans as low as 7.99%</label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-hand-holding-heart"></i>
          </div>
          <label class="whyus-item-title">Personalized Service</label>
          <label class="whyus-item-description">Flexible loan programs to meet your specific needs</label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="far fa-lightbulb"></i>
          </div>
          <label class="whyus-item-title">Common Sense Underwriting</label>
          <label class="whyus-item-description">In-house approvals with focus on underlying value of subject property</label>
        </div>
      </div>
      </div>
    </section>