*{
  font-family: 'Josefin Sans', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

/* NAVBAR */


.navbar{
  background: rgba(0,0,0,0);
  padding: 0 5%;
  
}

.navbar-dark{
  background: rgba(0,0,0,0.3);
}

.navbar-collapse, .navbar{
  z-index: 10;
}

.nav-link{
  color: white!important; 
  background: none;
}

.navbar-toggler{
  background: #DBB90F;
}

.lang-flag{
  border-radius: 3px;
}

/* SECCIÓN PRINCIPAL */

.section-principal{
  display: flex;
  justify-content: center;
}

.img-house{
  height: 100vh!important;
  width: 100%!important;
	object-fit: cover;
  
}

.title{
  color: white;
  width: 70%;
  position: absolute;
  bottom: 20vh;
  left: 10vw;
  font-size: 5em;
}

.container-buttons{
  position:absolute;
  width: 100%;
  bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal-button{
  width: 160px;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  background: #DBB90F;
}


/* SECCIÓN WHYUS */

.section-whyus{
  
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
}

.section-title{
  font-size: 3.7em;
  font-weight: 700;
  margin: 5% 0;
  align-self: center;
}

.whyus-items-container{
  display: flex;
  justify-content: space-around;
}

.whyus-back-container{
  position:absolute;
  width: 57%;

}

.whyus-back-container hr{
  border-top: 3px dashed  #999999;
  opacity: 0.7;
  position: relative;
  top: 4vh;
  z-index: -2;
}

.section-whyus .whyus-item{
  max-width: 20%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.section-whyus .whyus-item .whyus-item-title{
  color: black;
  font-size: large;
  font-weight: 700;
}

.section-whyus .whyus-item .whyus-item-description{
  color: #999999;
  font-size: medium;
}

.section-whyus .whyus-item-icon-circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #DBB90F;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-whyus .whyus-item-icon-circle i{
  font-size: 3em;
  width: auto;
}


/* RECENT DEALS */

.section-recent-deals{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.card{
  border: none!important;
}

.card.deal-dates{
  margin: 0;
}

.card.deal-dates.img-price,
.card.deal-dates.img-text{
  margin: 0!important;
}

.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rd{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit:cover;
  margin: 5% 0;
}

.carousel-control-prev{
  position:absolute;
  top:-60px;
  
}

.carousel-control-next{
  position:absolute;
  top: -60px;
  
}

p.img-price,
p.img-text{
  margin: 0;
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}


/* AJUSTES RESPONSIVE */

@media (max-width: 992px) {
  .title{
    font-size: 4em;
    bottom: 30vh;
    margin: 0 1vw ;
  }

  .principal-button{
    margin: 0 10px;
  }

  .img-house{
    height: 100vh!important;
    object-fit: cover;
  }

  .section-whyus{
    margin: 8vh 0;
    height: auto;
  }

  .section-title{
    font-size: 3em;
  }

  .section-whyus .whyus-back-container{
    display: none;
  }

  .whyus-items-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
  }

  .section-whyus .whyus-item{
    max-width: 50%;
    margin: 3vh 0;
  }

  .carousel-control-prev{
    position:absolute;
    left: 10vh;
    top:-60px;
  }
  
  .carousel-control-next{
    position:absolute;
    right: 10vh;
    top: -60px;
  }
  
}

@media (max-width: 768px) {
  .title{
    font-size: 3em;
    width: 80%;
    position: absolute;
    bottom: 30vh;
    margin: 0 0.5vw ;
  }

  .container-buttons{
    flex-direction: column;
    
  }

  .principal-button{
    margin: 10px  0;
  }

  
  .section-title{
    font-size: 2.7em;
  
  }
}