<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    
    <section class="section-brokers">

        <div class="brokers-title-container section-title-container">
            <div class="section-title">
                <label class="brokers-title">
                    Brokers y Realtors 
                </label>
            </div>
        </div>

        <div class="brokers-container">
            BROKERSS
        </div>
    </section>
    <%- include('./partials/footer') -%>
</body>
</html>