<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <section class="section-calculator">

        <div class="section-title">
            <label class="calculator-title">
                Palermo Lender Mortgage Calculator 
            </label>
        </div>
        
        <div class="calculator-container">
        
            <div class="content-container">
            
                <div class="first-line">
                    <!-- Estimated Property Value -->
                    <div class="item-container">
                        <label for="" class="slider-title">Estimated Property Value</label>
                        <p class="value">$<span id="value1"></span></p>
                        <hr>
                        <input type="range" id="range1" min="1" max="10000000" value="2500000" class="slider">
                    </div>

                    <!-- Mortgage Amount -->
                    <div class="item-container">
                        <label for="" class="slider-title">Mortgage Amount</label>
                        <p class="value"><span id="value2"></span>%</p>
                        <hr>
                        <input type="range" id="range2" step="0.1" min="0" max="75" value="15" class="slider">
                    </div>

                    <!-- Tenor -->
                    <div class="item-container">

                        <div class="label-container">
                            
                            <div class="radio-container">
                                <label class="container slider-title" for="month">Months
                                    <input type="radio" checked="checked" id="month" name="monthyear">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="radio-container">
                                <label class="container slider-title" for="year">Years
                                    <input type="radio" name="monthyear" id="year">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
            
                        <p class="value"><span id="value3"></span> Months</p>
                        <hr>
                        <input type="range" id="range3" min="1" max="36" value="36" class="slider">
                    </div>
                </div>
                <div class="second-line">

                    <!-- Interest Rate (%)  -->
                <div class="item-container">
                    <label for="" class="slider-title">Interest Rate (%)</label>
                    <p class="value"><span id="value4"></span>%</p>
                    <hr>
                    <input type="range" id="range4" step="0.01" min="7.99" max="13.99" value="8.50" class="slider">
                </div>

                <!-- Est. Origination Fee   -->
                <div class="item-container">
                    <label for="" class="slider-title">Est. Origination Fee</label>
                    <p class="value"><span id="value5"></span>%</p>
                    <hr>
                    <input type="range" id="range5" step="0.1" min="0" max="5" value="2.5" class="slider">
                </div>

                <!-- Est. Loan Costs -->
                <div class="item-container">
                    <label for="" class="slider-title">Est. Loan Costs</label>
                    <p class="value"><span id="value6"></span>%</p>
                    <hr>
                    <input type="range" id="range6" step="0.1" min="0" max="5" value="2.0" class="slider">
                </div>

                </div>
                


                
            </div>
            <button class="button-calculator principal-button">
                Submit
            </button>
        </div>
     

    </section>
    <%- include('./sections/footer') -%>
    

    <script>

        function formatMoney(number, decPlaces, decSep, thouSep) {
            decPlaces = isNaN(decPlaces = Math.abs(decPlaces)) ? 2 : decPlaces,
            decSep = typeof decSep === "undefined" ? "." : decSep;
            thouSep = typeof thouSep === "undefined" ? "," : thouSep;
            var sign = number < 0 ? "-" : "";
            var i = String(parseInt(number = Math.abs(Number(number) || 0).toFixed(decPlaces)));
            var j = (j = i.length) > 3 ? j % 3 : 0;

            return sign +
                (j ? i.substr(0, j) + thouSep : "") +
                i.substr(j).replace(/(\decSep{3})(?=\decSep)/g, "$1" + thouSep) +
                (decPlaces ? decSep + Math.abs(number - i).toFixed(decPlaces).slice(2) : "");
        }


        /* Estimated Property Value */
        var slider1 = document.getElementById("range1");
        var output1 = document.getElementById("value1");

        output1.innerHTML = slider1.value;

        slider1.oninput = function(){
            output1.innerHTML = formatMoney(this.value);
        }

        /* Mortgage Amount */
        var slider2 = document.getElementById("range2");
        var output2 = document.getElementById("value2");

        output2.innerHTML = slider2.value;

        slider2.oninput = function(){
            output2.innerHTML = formatMoney(this.value);
        }

        /* Tenor */
        var slider3 = document.getElementById("range3");
        var output3 = document.getElementById("value3");

        output3.innerHTML = slider3.value;

        slider3.oninput = function(){
            output3.innerHTML = this.value;
        }

        /* Interest Rate (%)  */
        var slider4 = document.getElementById("range4");
        var output4 = document.getElementById("value4");

        output4.innerHTML = slider4.value;

        slider4.oninput = function(){
            output4.innerHTML = formatMoney(this.value);
        }

        /* Est. Origination Fee  */
        var slider5 = document.getElementById("range5");
        var output5 = document.getElementById("value5");

        output5.innerHTML = slider5.value;

        slider5.oninput = function(){
            output5.innerHTML = formatMoney(this.value);
        }

        /* Est. Loan Costs */
        var slider6 = document.getElementById("range6");
        var output6 = document.getElementById("value6");

        output6.innerHTML = slider6.value;

        slider6.oninput = function(){
            output6.innerHTML = formatMoney(this.value);
        }
    </script>

</body>
</html>