<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    
    <section class="section-programs">

        <div class="programs-title-container section-title-container">
            <div class="section-title">
                <label class="section-title-label" style="color:white;">
                    Loan Programs
                </label>
            </div>
        </div>

        <div class="programs-container">

            <a href="programs/bridge-loan" class="programs-container-item">
                <div class="program-container-item-icon">
                    <img src="/images/icons/programs/program-1.png" alt="">
                </div>
                <h3>Bridge Loan</h3>
            </a>
            <a href="programs/fix-flip" class="programs-container-item">
                <div class="program-container-item-icon">
                    <img src="/images/icons/programs/program-2.png" alt="">
                </div>
                <h3>Rehab / Fix & Flip</h3>
            </a>
            <a href="programs/cash-out" class="programs-container-item">
                <div class="program-container-item-icon">
                    <img src="/images/icons/programs/program-3.png" alt="">
                </div>
                <h3>Cash Out / Refinance</h3>
            </a>
            <a href="programs/rental" class="programs-container-item">
                <div class="program-container-item-icon">
                    <img src="/images/icons/programs/program-4.png" alt="">
                </div>
                <h3>Rental Loan</h3>
            </a>
        </div>
        <a href="/apply-now"><button class="principal-button">Apply Now</button></a>
    </section>
    
    <%- include('./partials/footer') -%>
    <script src="/js/navbarLinks.js"></script>
    <script src="/js/navbarResponsive.js"></script>

</body>
</html>