<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palermo Lender, LCC - Miami</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <%- include('./partials/head') -%>
</head>
<body style="max-width: 100w; overflow-x: hidden;">  

  <%- include('./partials/navbar') -%>
  <iframe style="width: 100vw; height: 80vh; border:0px solid #333333;" scrolling="yes" frameborder="1" name="top" src="https://app.lendingwise.com/HMLOWebForm.php?view=c5e7c430d26333b5&bRc=522c7f6fc77d03e3&fOpt=8e614f58c0d670e4&op=aa4465703ef4b17e"></iframe>
  <%- include('./partials/footer') -%>


  <!-- Inputs formateados -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/addons/cleave-phone.us.min.js"></script> -->
  <!-- Funciones de control -->
  <!-- <script  src="/js/function.js"></script> -->
  <!-- <script  src="/js/applyNow.js"></script> -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Funciones del navbar -->
  <script src="/js/navbarLinks.js"></script>
    <script src="/js/footerLinks.js"></script>
  <script src="/js/navbarResponsive.js"></script>
  <!-- Para los carrusels -->
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
  <!-- <script>
    var elms = document.getElementsByClassName( 'splide' );
    for ( var i = 0, len = elms.length; i < len; i++ ) {
      new Splide( elms[ i ] ).mount();
    }
  </script> -->
</body>
</html>