<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palermo Lender Prequalify</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <%- include('./partials/head') -%>
</head>
<body>  

  <%- include('./partials/navbar') -%>
  <%- include('./partials/float-button') -%>

  

  <section class="section-apply-now">


    <div class="applynow-title-container section-title-container">
      <div class="section-title">
          <label class="section-title-label" style="color:white;">
              Prequalify
          </label>
      </div>
    </div>


    <div class="content" style="padding-top: 10vh;">
      <div class="content__inner">
        <div class="container overflow-hidden">
          <div class="multisteps-form">
            <div class="row">
              <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                <div class="multisteps-form__progress">
                  <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Loan Type</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Address">Property Type</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Order Info">Loan Details</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Message">Property / Deal Information</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Order Info">Borrower Details</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Message">How Did You Hear About Us?</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-8 m-auto">
                <form class="multisteps-form__form">
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="slideHorz">
                    <div class="multisteps-form__content">
                      
                      <div class="step-container">

                        <div class="loan-type-container"> <!-- PRIMER PANTALLA -->
                          <div class="multiple-step-title"><label>Loan type</label></div>

                          <div class="loan-type-field">
                            <input type="radio" name="loan-type" id="bridge-loan">
                            <label class="loan-select" for="bridge-loan">
                              <i class="fas fa-hand-holding-usd"></i>
                              <h3>Bridge Loan</h3>
                              <h6>Short-term financing to bridge to longer-term financing</h6>
                            </label>
                          </div>

                          <div class="loan-type-field">
                            <input type="radio" name="loan-type" id="rehab-loan">
                            <label class="loan-select" for="rehab-loan">
                              
                              <i class="fas fa-sign"></i>
                              <h3>Rehab / Fix & Flip</h3>
                              <h6>Financing for the purchase & rehab of property that is to be re-sold</h6>
                            </label>
                          </div>

                          <div class="loan-type-field">
                            <input type="radio" name="loan-type" id="cash-loan">
                            <label class="loan-select" for="cash-loan">
                              <i class="fas fa-percent"></i>|
                              <h3>Cash Out / Refinance</h3>
                              <h6>Financing to cash out on an encumbered / unencumbered property</h6>
                            </label>
                          </div>
                          
                          <div class="loan-type-field">
                            <input type="radio" name="loan-type" id="rental-loan">
                            <label class="loan-select" for="rental-loan">
                              <i class="fas fa-key"></i>
                              <h3>Rental Loan</h3>
                              <h6>Financing for the purchase of property that is to be rented out</h6>
                            </label>
                          </div>
                          
                          <div class="loan-type-field">
                            <input type="radio" name="loan-type" id="other-type-loan">
                            <label class="loan-select loan-type-field-other" for="other-type-loan">
                              <i class="fas fa-bullseye"></i>
                              <h3>Other</h3>
                              <input type="text" class=" multiple-step-input-design other-loan-type" placeholder="Other Loan type..">
                            </label>
                          </div>            
                        </div>
                      </div>
                      
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>
    
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                      <div class="step-container">

                        <div class="property-type-container"> <!-- SEGUNDA PANTALLA -->
                          <div class="multiple-step-title"><label>Property type</label></div>

                          <div class="loan-property-field">
                            <input type="radio" name="property-type" id="property-residential">
                            <label class="loan-select" for="property-residential">
                              <i class="fas fa-home"></i>
                              <h3>Residential</h3>
                              <h6>Single Family, Condo, Co-Op, Townhouse, Duplex, Triplex, Fourplex</h6>
                            </label>
                          </div>

                          <div class="loan-property-field">
                            <input type="radio" name="property-type" id="property-multifamily">
                            <label class="loan-select" for="property-multifamily">
                              <i class="fas fa-building"></i>
                              <h3>Multifamily</h3>
                              <h6>≥ 5 Units</h6>
                            </label>
                          </div>

                          <div class="loan-property-field">
                            <input type="radio" name="property-type" id="property-commercial">
                            <label class="loan-select" for="property-commercial">
                              <i class="fas fa-city"></i>
                              <h3>Commercial</h3>
                              <h6>Office, Retail, Warehouse, Mixed Use, Land</h6>
                            </label>
                          </div>
                          
                          
                          <div class="loan-property-field">
                            <input type="radio" name="property-type" id="property-other">
                            <label class="loan-select" for="property-other">
                              <i class="fas fa-bullseye"></i>
                              <h3>Other</h3>
                              <input type="text"  class="multiple-step-input-design other-property-type" placeholder="Other Loan type..">
                            </label>
                          </div>

                        </div>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>
    
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                      <div class="step-container">

                        <div class="loan-details-container"> <!-- TERCER PANTALLA -->
                          <div class="multiple-step-title"><label>Loan details</label></div>

                          <div class="field">
                            <label class="slider-title">Loan</label>
                            <p class="value"  style="font-size: 14px; margin:0;">$<span id="value-an-1"></span></p>
                            <input name="anEstimatedValue" type="range" id="range-an-1" min="1" max="10000000" value="1000000>" class="slider">
                            <hr>
                          </div>

                          <div class="field">
                            <label class="slider-title">Loan Tenor</label>
                            <p class="value" style="font-size: 14px; margin:0;"><span  id="value-an-2"></span> Months</p>
                            <input name="anMortgageTenor" type="range" id="range-an-2" min="1" max="36" value="36" class="slider">
                            <hr>
                          </div>

                          <div class="field">
                            <label for="" class="slider-title">Interest Rate (%)</label>
                            <p class="value" style="font-size: 14px; margin:0;"><span  id="value-an-3"></span>%</p>
                            <input name="anMortgageInterest" type="range" id="range-an-3" step="0.01" min="7.99" max="13.99" value="8.50" class="slider">
                            
                          </div>
                        </div>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>
    
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                      <div class="step-container">

                        <div class="deal-info-container"> <!-- CUARTA PANTALLA -->
                          <div class="multiple-step-title"><label>Information</label></div>
                          <div class="inputs-container">
                            <label class="inputs-container-subtitle">Subject Property Address:</label>
                            <div class="inputs-fields-container">
                              <div class="field">
                                <input type="text" class="multiple-step-input-design" placeholder="Adress">
                              </div>
                              <div class="field">
                                <input type="text" class="multiple-step-input-design" placeholder="City">
                              </div>
                              <div class="field">
                                <input type="text" class="multiple-step-input-design" placeholder="State">
                              </div>
                              <div class="field">
                                <input type="text" class="multiple-step-input-design" placeholder="ZIP Code">
                              </div>
                            </div>
                          </div>

                          <div class="range-container">
                            <div class="field">
                              <label style="margin:0;" class="slider-title">Purchase Price / Estimated As-Is Value</label>
                              <p class="value"   style="margin: 0!important; font-size: 14px;">$<span id="value-di-1"></span></p>
                              <input name="anEstimatedValue" type="range" id="range-di-1" min="1" max="10000000" value="1000000>" class="slider">
                              <hr>
                            </div>
    
                            <div class="field">
                              <label style="margin:0;" class="slider-title">After Repair Value (if Rehab Loan)</label>
                              <p class="value"   style="margin: 0!important; font-size: 14px;"><span id="value-di-2"></span> Months</p>
                              <input name="anMortgageTenor" type="range" id="range-di-2" min="1" max="36" value="36" class="slider">
                              <hr>
                            </div>
    
                            <div class="field">
                              <label style="margin:0;" for="" class="slider-title">Target Closing Timing:</label>
                              <p class="value"   style="margin: 0!important; font-size: 14px;"><span id="value-di-3"></span>%</p>
                              <input name="anMortgageInterest" type="range" id="range-di-3" step="0.01" min="7.99" max="13.99" value="8.50" class="slider">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>

                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                      <div class="step-container">

                        
                        <div class="borrower-details-container"><!-- QUINTA PANTALLA -->
                          <div style="margin-bottom: 10px;" class="multiple-step-title"><label>Borrower Details</label></div>
                          <div class="field" style="display: flex;"> 
                            <label class="step5-subtitle" >Are you a Broker Working on Behalf of a Client?</label>
                            <div style="width: fit-content; margin-left: 20px;" class="broker-work-cont">
                              <input type="radio" name="brokerwork" id="yesbrokerwork" checked>
                              <label for="yesbrokerwork">Yes</label>
                              <input type="radio" name="brokerwork" id="nobrokerwork">
                              <label for="nobrokerwork">No</label>
                            </div>
                          </div>


                          <div class="broker-contact-info">
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="First Name">
                            </div>
                            <div class="field">
                              <input type="text"  class="multiple-step-input-design" placeholder="First Name">
                            </div>
                            <div class="field">
                              <input type="email" class="multiple-step-input-design"  placeholder="Email">
                            </div>
                            <div class="field">
                              <input type="number" class="multiple-step-input-design" placeholder="Phone">
                            </div>
                          </div>

                          <label class="step5-subtitle" >Principal Borrower Contact Info</label>
                          
                          <div class="borrower-contact-info">
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="First Name">
                              
                            </div>
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="Last Name">
                            </div>
                            <div class="field">
                              <input type="email" class="multiple-step-input-design" placeholder="Borrower Email">
                            </div>
                            <div class="field">
                              <input type="number"class="multiple-step-input-design"  placeholder="Cell Phone">
                            </div>
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="Adress">
                            </div>
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="City">
                            </div>
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="State">
                            </div>
                            <div class="field">
                              <input type="text" class="multiple-step-input-design" placeholder="Zip Code">
                            </div>
                            
                          </div>

                          <label class="step5-subtitle" >Principal Borrower Estimated FICO Score</label>
                          <div class="estimated-fico">
                            <div class="field">
                              <input type="radio" name="estimated-fico" id="fico-below600">
                              <label for="fico-below600">Below 600</label>
                            </div>
                            <div class="field">
                              <input type="radio" name="estimated-fico" id="fico-600700">
                              <label for="fico-600700">600-700</label>
                            </div>
                            <div class="field">
                              <input type="radio" name="estimated-fico" id="fico-over700">
                              <label for="fico-over700">Over 700</label>
                            </div>
                            <div class="field">
                              <input type="radio" name="estimated-fico" id="fico-na">
                              <label for="fico-na">N/A</label>
                            </div>
                          </div>
                          
                        
                          
                        </div>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>

                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <div class="multisteps-form__content">
                      <div class="step-container">

                        <div style="margin-bottom: 10px;" class="multiple-step-title"><label class="letra-chica">How Did You Hear About Us?</label></div>

                        <div class="howyouhear-container"> <!-- SEXTA PANTALLA -->
                          <div class="howyouhear-container-firstl">
                            <div class="field">
                              <input type="radio" name="howyouhear" id="facebook-ad">
                              <label for="facebook-ad">
                                <i class="fab fa-facebook-square icon-facebook"></i>
                                <h3>Facebook Ad</h3>
                              </label>
                            </div>
                            <div class="field">
                              <input type="radio" name="howyouhear" id="google-ad">
                              <label for="google-ad">
                                <i class="fab fa-google icon-google"></i>
                                <h3>Google</h3>
                              </label>
                            </div>
                            <div class="field">
                              <input type="radio" name="howyouhear" id="linkedin-ad">
                              <label for="linkedin-ad">
                                <i class="fab fa-linkedin icon-linkedin"></i>
                                <h3>Linkedin</h3>
                              </label>
                            </div>
                            
                          </div>
                          <div class="howyouhear-container-secondl">
                            

                            <div class="field">
                              <input type="radio" name="howyouhear" id="email-ad">
                              <label for="email-ad">
                                <i class="far fa-envelope icon-email"></i>
                                <h3>Email Campaign</h3>
                              </label>
                            </div> 

                            <div class="field" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                              <img src="/images/logos/logo-navbar.png" height="100px" width="auto" alt="" style="justify-self: center;">
                            </div>

                            <div class="field">
                              <input type="radio" name="howyouhear" id="social-ad">
                              <label for="social-ad">
                                <i class="fas fa-user-friends icon-other-social"></i>
                                <h3>Other Social Media</h3>
                                
                              </label>
                            </div>
                          </div>
                          <div class="howyouhear-container-thirdl">
                            <div class="field">
                              <input type="radio" name="howyouhear" id="personal-ad">
                              <label for="personal-ad">
                                <i class="far fa-comments icon-comments"></i>
                                <h3>Personal Referral</h3>
                              </label>
                            </div>
                            <div class="field">
                              <input type="radio" name="howyouhear" id="broker-ad">
                              <label for="broker-ad">
                                <i class="fas fa-user-tie icon-broker"></i>
                                <h3>Broker / Agent</h3>
                              </label>
                            </div>
                            <div class="field">
                              <input type="radio" name="howyouhear" id="other-ad">
                              <label for="other-ad" style="display: flex; flex-direction: column; align-items: center;">
                                <i class="fas fa-bullseye icon-other-o"></i>
                                <input type="text"  class="multiple-step-input-design" placeholder="Other..">
                              </label>
                            </div>


                          </div>
                        </div>

                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                        <button class="btn btn-success ml-auto" type="button" title="Send">Send</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer') -%>

  <script  src="/js/function.js"></script>
  <script>

    /************** RANGE STYLES  **************/


    /*LOAN DETAILS - STEP 3*/


    /* Estimated Property Value */
    var slider1 = document.getElementById("range-an-1");
    var output1 = document.getElementById("value-an-1");

    output1.innerHTML = slider1.value;

    slider1.oninput = function(){
        output1.innerHTML = this.value;
    }

    /* Loan tenor */
    var slider2 = document.getElementById("range-an-2");
    var output2 = document.getElementById("value-an-2");

    output2.innerHTML = slider2.value;

    slider2.oninput = function(){
        output2.innerHTML = this.value;
    }

    /* Estimated Property Value */
    var slider3 = document.getElementById("range-an-3");
    var output3 = document.getElementById("value-an-3");

    output3.innerHTML = slider3.value;

    slider3.oninput = function(){
        output3.innerHTML = this.value;
    }



    /* PROPERTY / DEAL INFORMATION - STEP 4 */

    /* Purchase Price / Estimated As-Is Value */
    var sliderDealInformation1 = document.getElementById("range-di-1");
    var outputDealInformation1 = document.getElementById("value-di-1");

    outputDealInformation1.innerHTML = sliderDealInformation1.value;

    sliderDealInformation1.oninput = function(){
        outputDealInformation1.innerHTML = this.value;
    }

    /* After Repair Value (if Rehab Loan) */
    var sliderDealInformation2 = document.getElementById("range-di-2");
    var outputDealInformation2 = document.getElementById("value-di-2");

    outputDealInformation2.innerHTML = sliderDealInformation2.value;

    sliderDealInformation2.oninput = function(){
        outputDealInformation2.innerHTML = this.value;
    }

    /* Target Closing Timing: */
    var sliderDealInformation3 = document.getElementById("range-di-3");
    var outputDealInformation3 = document.getElementById("value-di-3");

    outputDealInformation3.innerHTML = sliderDealInformation3.value;

    sliderDealInformation3.oninput = function(){
        outputDealInformation3.innerHTML = this.value;
    }


  </script>
  <script src="/js/navbarLinks.js"></script>
</body>
</html>