<div class="flab flab-active">
  <img src="/images/icons/logo-icon.png" alt="">
</div>     

<div class="box box-active">

  <a class="item item-1" href="">
    
    <img src="/images/icons/whatsapp.png" alt="">
  </a>
  
  
  <a class="item item-2" href="/calculator/">
    <img src="/images/icons/calculator.png" alt="">
  </a>
  
</div>

<script>
  document.querySelector('.flab').addEventListener('click', function(e){
    document.querySelector('.box').classList.toggle('box-active');
    document.querySelector('.flab').classList.toggle('flab-active');

  })
</script>