<div class="fab">
  <img src="/images/icons/logo-icon.png" alt="">
</div>     

<div class="box">

  <a class="item item-1" href="">
    
    <img src="/images/icons/whatsapp.png" alt="">
  </a>
  
  
  <a class="item item-2" href="/calculator/">
    <img src="/images/icons/calculator.png" alt="">
  </a>
  
</div>

<script>
  document.querySelector('.fab').addEventListener('click', function(e){
    document.querySelector('.box').classList.toggle('box-active');
    document.querySelector('.fab').classList.toggle('fab-active');

  })
</script>