<nav class="container navbar navbar-expand-lg navbar-light bg-transparent ">
  <a class="navbar-brand" href="#">
    <img src="/images/logo-navbar.png" alt="" width="124" height="100">
  </a>
  <button class="navbar-toggler c-mostaza" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">


      <li class="nav-item">
        <a class="nav-link c-white" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-white" href="#">Loan Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-white" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-white" href="#">Apply Now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-white" href="#">Recent Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-white" href="#">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-white" href="#">Contact</a>
      </li>
      <a class="navbar-brand ml-3 " href="#">
        <img src="/images/flag-spain.png" class="lang-flag" alt="">
      </a>
  </div>
</nav>