<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo"><img src="/images/logo-navbar.png" alt="" width="120px"></label>
  <ul>
    
    <li><a href="#">About Us</a></li>
    <li><a href="#">Loan Programs</a></li>
    <li><a href="#">Recent Deals</a></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">Brokers & Realtors</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#"><img src="/images/flag-spain.png" alt=""></a></li>
    

  </ul>
</nav>