<div class="step-container">

    <div style="margin-bottom: 10px;" class="multiple-step-title"><label class="letra-chica"><%=applyNowDat.titles[4]%></label></div>

    
    <div class="howyouhear-container"> <!-- QUINTA PANTALLA -->

      <div class="field">
        <input type="radio" name="howyouhear" value="Facebook" id="facebook-ad">
        <label for="facebook-ad">
          <i class="fab fa-facebook-square icon-facebook"></i>
          <h3>Facebook Ad</h3>
        </label>
      </div>
      <div class="field">
        <input type="radio" name="howyouhear" value="Google Ad" id="google-ad">
        <label for="google-ad">
          <i class="fab fa-google icon-google"></i>
          <h3>Google</h3>
        </label>
      </div>
      <div class="field">
        <input type="radio" name="howyouhear" value="Linkedin" id="linkedin-ad">
        <label for="linkedin-ad">
          <i class="fab fa-linkedin icon-linkedin"></i>
          <h3>Linkedin</h3>
        </label>
      </div>
      <div class="field">
        <input type="radio" name="howyouhear" value="Email Campaign" id="email-ad">
        <label for="email-ad">
          <i class="far fa-envelope icon-email"></i>
          <h3>Email Campaign</h3>
        </label>
      </div> 
      <div class="field">
        <input type="radio" name="howyouhear" value="Other Social Media" id="social-ad">
        <label for="social-ad">
          <i class="fas fa-user-friends icon-other-social"></i>
          <h3>Other Social Media</h3>
        </label>
      </div>
      <div class="field">
        <input type="radio" name="howyouhear" value="Personal Referral" id="personal-ad">
        <label for="personal-ad">
          <i class="far fa-comments icon-comments"></i>
          <h3>Personal Referral</h3>
        </label>
      </div>
      <div class="field">
        <input type="radio" name="howyouhear" value="Broker / Agent" id="broker-ad">
        <label for="broker-ad">
          <i class="fas fa-user-tie icon-broker"></i>
          <h3>Broker / Agent</h3>
        </label>
      </div>
      <div class="field">
        <input type="radio" name="howyouhear" value="Other" id="other-ad">
        <label class="other-how-label" for="other-ad">
          <div class="other-how-title">
            <i class="fas fa-bullseye icon-other-o"></i>
            <h3>Other</h3>
          </div>
          <input class="other-how-input" name="otherContact" type="text">
        </label>
      </div>

    </div>

  <div class="button-row d-flex w-100" style="margin-top:80px;">
    <button class="principal-button js-btn-prev" type="button" title="Prev"><%=applyNowDat.buttons[0]%></button>
    <button class="principal-button js-btn-submit ml-auto" type="submit" title="Send"><%=applyNowDat.buttons[2]%></button>
  </div>